body {
	font-size: 100%;
}

@media all and (max-width: 960px) {
	body {
		font: 93.75% sans-serif;
		line-height: 1.5;
		transition:all .2s linear;
		-o-transition:all .2s linear;
		-moz-transition:all .2s linear;
		-webkit-transition:all .2s linear;
	}
}
@media all and (max-width: 768px) {
	body {
		font: 87.5% sans-serif;
		line-height: 1.5;
		transition:all .2s linear;
		-o-transition:all .2s linear;
		-moz-transition:all .2s linear;
		-webkit-transition:all .2s linear;
	}

}

/* purely for styling the demo */
.container {
	width: 90%;
	padding: 2% 5%;
}