

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


.main__title {
  color: #f2f3f3;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.6em;
  letter-spacing: 1px;
  margin: 0;
}

.main__title span {
  color: #ff2d71;
}

.main__subtitle {
  margin: 2px 0;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  color: #f2f3f3;
}

@media (min-width: 768px) {
  .main__subtitle {
    font-size: 1.1em;
  }
}
.main__subtitle span {
  font-family: "Patua One", cursive;
  color: #00a8af;
  font-style: italic;
}

.link {
  display: inline-block;
  width: auto;
  position: relative;
  text-decoration: none;
  color: #21272b;
  font-family: Montserrat, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00a8af !important;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  letter-spacing: 2px;
}



.swiper {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (min-width: 1200px) {
  .swiper {
    height: 550px;
  }
}


@keyframes arrowRight {
  0% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  50% {
    -webkit-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%);
  }
  100% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-slide__block {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  text-align: left;
  position: relative;
 
}

.swiper-slide__block .swiper-slide__block__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-slide__block .swiper-slide__block__img a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .swiper-slide__block .swiper-slide__block__img {
    width: 65%;
    max-height: 476px;
    height: 476px;
    max-width: 735px;
    overflow: hidden;
    position: relative;
  }
}
.swiper-slide__block .swiper-slide__block__img img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .swiper-slide__block .swiper-slide__block__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
}
.swiper-slide__block .swiper-slide__block__img:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.swiper-slide__block .swiper-slide__block__text {
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 768px) {
  .swiper-slide__block .swiper-slide__block__text {
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .swiper-slide__block .swiper-slide__block__text {
    width: 40%;
    height: 100%;
    max-height: 476px;
    max-width: 400px;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    margin-top: 0;
    padding: 0;
  }

  .swiper-slide__block .swiper-slide__block__text:before {
    content: "";
    display: block;
    width: 200px;
    max-width: 408px;
    height: 100%;
    background-color: #e4e4e4;
    position: absolute;
    left: -100px;
  }
}
.swiper-slide__block .main__title {
  color: #f2f3f3;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.6em;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 7px 7px 16px #d2d2d2;
  line-height: 54px;
}

.swiper-slide__block .main__title span {
  color: #ff2d71;
}

@media (min-width: 768px) {
  .swiper-slide__block .main__title {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  .swiper-slide__block .main__title {
    margin-top: 100px;
  }
}
.swiper-slide__block .main__subtitle {
  margin: 2px 0;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  color: #f2f3f3;
}

@media (min-width: 768px) {
  .swiper-slide__block .main__subtitle {
    font-size: 0.9em;
  }
}
.swiper-slide__block .main__subtitle span {
 font-family: Poppins, sans-serif;
  font-style: normal;
  color: #00a8af;
  letter-spacing: 1px;
}

.swiper-slide__block .main__subtitle, .swiper-slide__block .main__title, .swiper-slide__block .paragraphe {
  color: #21272b;
  z-index: 2;
  position: relative;
}

.swiper-slide__block .paragraphe {
  max-width: 413px;
  text-shadow: 7px 7px 16px #d2d2d2;
  margin-top: 24px;
}

.swiper-slide__block .number {
  font-family: Montserrat, sans-serif;
  font-size: 12em;
  font-weight: 900;
  width: 100%;
  display: block;
  color: rgba(16, 47, 65, 0.04);
  position: relative;
  bottom: 100px;
  z-index: 1;
  text-align: right;
  margin: 0;
  line-height: 120px;
}

@media (min-width: 1200px) {
  .swiper-slide__block .number {
    margin-top: 100px;
    font-size: 15em;
  }
}


.section__slider {
  width: 100%;
  height: auto;
  background-color: #f2f3f3;
}

@media (min-width: 1200px) {
  .section__slider {
    padding: 150px 0;
  }
}
.section__slider .container__center {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .section__slider .container__center {
    max-width: 1200px;
    width: 85%;
  }

  .section__slider .container__center:after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to top, #f2f3f3, rgba(248, 248, 248, 0));
  }
}
@media (min-width: 992px) {
  .section__slider .container__center {
    max-width: 1070px;
    width: 100%;
  }
}
