::selection {
	background: #155945
}
::-moz-selection {
background:#155945
}
::-webkit-selection {
background:#155945
}

/*-----Border Color-----*/
.get-in-touch-btn.from-top::before,.about-home-left,.from-top::before, .image-effect-one .mfp-link{
	border-color: #155945;
}