::selection {
	background: #0d5f39
}
::-moz-selection {
background:#0d5f39
}
::-webkit-selection {
background:#0d5f39
}

/*-----Border Color-----*/
.get-in-touch-btn.from-top::before,.about-home-left,.from-top::before, .image-effect-one .mfp-link{
	border-color: #0d5f39;
}