::selection {
	background: var(--primary-color)
}
::-moz-selection {
background:var(--primary-color)
}
::-webkit-selection {
background:var(--primary-color)
}

/*-----Border Color-----*/
.get-in-touch-btn.from-top::before,.about-home-left,.from-top::before, .image-effect-one .mfp-link{
	border-color: var(--primary-color);
}