::selection {
	background: #0f4d33
}
::-moz-selection {
background:#0f4d33
}
::-webkit-selection {
background:#0f4d33
}

/*-----Border Color-----*/
.get-in-touch-btn.from-top::before,.about-home-left,.from-top::before, .image-effect-one .mfp-link{
	border-color: #0f4d33;
}